/* Posts list */
.posts-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-bottom: 20px;
    
  }
  
  /* Individual post card */
  .post-card {
    border-radius: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }
  
  .post-card h2 {
    color: #240033;
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .post-card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .post-card a {
    color: #240033;
    font-weight: bold;
    text-decoration: none;
  }
  
  .post-card a:hover {
    text-decoration: underline;
  }
  
  /* Load more button */
  .load-more-button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background: #240033;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .load-more-button:hover {
    background: #240033;
  }

  .read-more-link{
    color:#240033;
  }
  